
{{/*
jQuery轮播效果（Carousell）
注意 prev nextl 两个button的href id 和 setction id要一致
https://blog.csdn.net/chenmo2001/article/details/117674446
*/}}
{{ $heroBlock := .Params.heroBlock }}
{{ $slider_hash_id := "hero_sliders" }}
{{ $slider_args := dict "wcPage" $ "wcBlock" .Params.heroSlideBlock "wcIdentifier" $slider_hash_id }}
<section id="section-hero" class="home-section wg-hero">
  <div class="container">
    <div class="hero-media carousel slide " data-ride="carousel"
         id="{{ $slider_hash_id }}">
        {{ partial "blocks/slider.html" $slider_args }}
    </div>
  </div>
</section>

<section id="section-lab-intro" class="home-section wg-lab-intro">
  <div class="container lab-intro">
    <h1>{{ .Params.intro_title | markdownify }}</h1>
    <div class=" intro-text " >
        {{ .Content }}
    </div>
  </div>
</section>






